body {
    background-color: darkslategrey;
}

a {
   text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
  }
li {
    list-style-type: none;
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover:not(.active) {
    background-color: #111;
  }
.active {
    background-color: #04AA6D;
  }

.orarend td {
    border: solid 1px #000; 
}

.pizza td {
    border: none; 
}

.ollist li {
    float: none;
    list-style-type: decimal;
}

.evszakok td {
      border: none;
}

.ullist  li {
    padding-left: 25px;
    float: none;
    list-style-position:inside;
    color: #1ced00;
    list-style-type:disc;
    background-color: darkslategrey;
}